<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hoge.name %>
</p>

<p>
  <b>Num:</b>
  <%= @hoge.num %>
</p>

<p>
  <b>Desc:</b>
  <%= @hoge.desc %>
</p>


<%= link_to 'Edit', edit_hoge_path(@hoge) %> |
<%= link_to 'Back', hoges_path %>
